In [1]:
import os
import re
import pandas as pd
from pandasql import sqldf

pysqldf = lambda q: sqldf(q, globals())

In [2]:
ETF = 'SPY'
ETF_3x = 'UPRO'

In [3]:
final_result = pd.read_excel(
    '{}_leverage_simulation.xlsx'.format(ETF),
    )

In [4]:
final_result.head(3)

         Date       SPY  simulated_UPRO  UPRO
0  1993-02-01  44.25000        0.501325   NaN
1  1993-02-02  44.34375        0.510006   NaN
2  1993-02-03  44.81250        0.553593   NaN

# the return

In [5]:
daily_invest_amount = 1000

invest = pysqldf(u"""
    select 
    Date,
    {} AS price,
    case
        when {} is not null then {}
        else simulated_{}
    end as price_3x
    from final_result
    """.format(
        ETF,
        ETF_3x,
        ETF_3x,
        ETF_3x,
    ))

invest1 = pysqldf(u"""
    select *,
    {} as daily_invest_amount,
    {}/price as shares,
    {}/price_3x as shares_3x    
    from invest
    order by Date asc
    """.format(
    daily_invest_amount,
    daily_invest_amount,
    daily_invest_amount))

In [6]:
invest1.head(3)

         Date     price  price_3x  daily_invest_amount     shares    shares_3x
0  1993-02-01  44.25000  0.501325                 1000  22.598870  1994.713723
1  1993-02-02  44.34375  0.510006                 1000  22.551092  1960.761835
2  1993-02-03  44.81250  0.553593                 1000  22.315202  1806.380409

In [7]:
days_duration = int(12.5*250)

final_result['id'] = final_result.index

first_last_days = pysqldf(u"""
    select 
    f.Date as invest_date_first, 
    date_2500_days_later.Date as invest_date_last
    from final_result as f
    join final_result as date_2500_days_later on date_2500_days_later.id = f.id+{}
    """.format(days_duration)).to_dict('records')

print(days_duration)

3125

In [ ]:
returns = []

for r in first_last_days:
    invest_date_first = r['invest_date_first']
    invest_date_last = r['invest_date_last']
    
    print('processing data between {} and {}'.format(
    invest_date_first,
    invest_date_last,
    ))

    #invest_date_first = '2013-01-01'
    #invest_date_last = '2013-01-05'

    window = pysqldf(u"""
        select *
        from invest1
        where Date >= '{}'
        and Date <= '{}'
        """.format(
        invest_date_first, 
        invest_date_last
        ))

    total_df = pysqldf(u"""
        select 
        sum(daily_invest_amount) as invest_amount,
        sum(shares) as shares,
        sum(shares_3x) as shares_3x
        from window
        """)

    invest_amount = total_df['invest_amount'][0]
    shares = total_df['shares'][0]
    shares_3x = total_df['shares_3x'][0]

    ###

    first_date = pysqldf(u"""
        select *  
        from window
        order by Date asc
        limit 1
        """)

    first_price = first_date['price'][0]
    first_price_3x = first_date['price_3x'][0]

    last_date = pysqldf(u"""
        select *  
        from window
        order by Date desc
        limit 1
        """)

    last_price = last_date['price'][0]
    last_price_3x = last_date['price_3x'][0]

    ###

    all_in_return = last_price/first_price-1
    all_in_3x_return = last_price_3x/first_price_3x-1

    cost_averaging_return = shares*last_price/invest_amount-1
    cost_averaging_3x_return = shares_3x*last_price_3x/invest_amount-1

    record = {
        'invest_date_first':invest_date_first,
        'invest_date_last':invest_date_last,
        'all_in_return':all_in_return,
        'all_in_3x_return':all_in_3x_return,
        'cost_averaging_return':cost_averaging_return,
        'cost_averaging_3x_return':cost_averaging_3x_return,    
    }
    
    returns.append(record)


###    

returns_duration_df = pd.DataFrame(returns)

returns_duration_df.to_excel(
    '{}_returns_{}d.xlsx'.format(
        ETF,
        days_duration),
    index = False
    )

processing data between 1993-02-01 and 2005-06-27
processing data between 1993-02-02 and 2005-06-28
processing data between 1993-02-03 and 2005-06-29
processing data between 1993-02-04 and 2005-06-30
processing data between 1993-02-05 and 2005-07-01
processing data between 1993-02-08 and 2005-07-05
processing data between 1993-02-09 and 2005-07-06
processing data between 1993-02-10 and 2005-07-07
processing data between 1993-02-11 and 2005-07-08
processing data between 1993-02-12 and 2005-07-11
processing data between 1993-02-16 and 2005-07-12
processing data between 1993-02-17 and 2005-07-13
processing data between 1993-02-18 and 2005-07-14
processing data between 1993-02-19 and 2005-07-15
processing data between 1993-02-22 and 2005-07-18
processing data between 1993-02-23 and 2005-07-19
processing data between 1993-02-24 and 2005-07-20
processing data between 1993-02-25 and 2005-07-21
processing data between 1993-02-26 and 2005-07-22
processing data between 1993-03-01 and 2005-07-25
processing data between 1993-03-02 and 2005-07-26
processing data between 1993-03-03 and 2005-07-27
processing data between 1993-03-04 and 2005-07-28
processing data between 1993-03-05 and 2005-07-29
processing data between 1993-03-08 and 2005-08-01
processing data between 1993-03-09 and 2005-08-02
processing data between 1993-03-10 and 2005-08-03
processing data between 1993-03-11 and 2005-08-04
processing data between 1993-03-12 and 2005-08-05
processing data between 1993-03-15 and 2005-08-08
processing data between 1993-03-16 and 2005-08-09
processing data between 1993-03-17 and 2005-08-10
processing data between 1993-03-18 and 2005-08-11
processing data between 1993-03-19 and 2005-08-12
processing data between 1993-03-22 and 2005-08-15
processing data between 1993-03-23 and 2005-08-16
processing data between 1993-03-24 and 2005-08-17
processing data between 1993-03-25 and 2005-08-18
processing data between 1993-03-26 and 2005-08-19
processing data between 1993-03-29 and 2005-08-22
processing data between 1993-03-30 and 2005-08-23
processing data between 1993-03-31 and 2005-08-24
processing data between 1993-04-01 and 2005-08-25
processing data between 1993-04-02 and 2005-08-26
processing data between 1993-04-05 and 2005-08-29
processing data between 1993-04-06 and 2005-08-30
processing data between 1993-04-07 and 2005-08-31
processing data between 1993-04-08 and 2005-09-01
processing data between 1993-04-12 and 2005-09-02
processing data between 1993-04-13 and 2005-09-06
processing data between 1993-04-14 and 2005-09-07
processing data between 1993-04-15 and 2005-09-08
processing data between 1993-04-16 and 2005-09-09
processing data between 1993-04-19 and 2005-09-12
processing data between 1993-04-20 and 2005-09-13
processing data between 1993-04-21 and 2005-09-14
processing data between 1993-04-22 and 2005-09-15
processing data between 1993-04-23 and 2005-09-16
processing data between 1993-04-26 and 2005-09-19
processing data between 1993-04-27 and 2005-09-20
processing data between 1993-04-28 and 2005-09-21
processing data between 1993-04-29 and 2005-09-22
processing data between 1993-04-30 and 2005-09-23
processing data between 1993-05-03 and 2005-09-26
processing data between 1993-05-04 and 2005-09-27
processing data between 1993-05-05 and 2005-09-28
processing data between 1993-05-06 and 2005-09-29
processing data between 1993-05-07 and 2005-09-30
processing data between 1993-05-10 and 2005-10-03
processing data between 1993-05-11 and 2005-10-04
processing data between 1993-05-12 and 2005-10-05
processing data between 1993-05-13 and 2005-10-06
processing data between 1993-05-14 and 2005-10-07
processing data between 1993-05-17 and 2005-10-10
processing data between 1993-05-18 and 2005-10-11
processing data between 1993-05-19 and 2005-10-12
processing data between 1993-05-20 and 2005-10-13
processing data between 1993-05-21 and 2005-10-14
processing data between 1993-05-24 and 2005-10-17
processing data between 1993-05-25 and 2005-10-18
processing data between 1993-05-26 and 2005-10-19
processing data between 1993-05-27 and 2005-10-20
processing data between 1993-05-28 and 2005-10-21
processing data between 1993-06-01 and 2005-10-24
processing data between 1993-06-02 and 2005-10-25
processing data between 1993-06-03 and 2005-10-26
processing data between 1993-06-04 and 2005-10-27
processing data between 1993-06-07 and 2005-10-28
processing data between 1993-06-08 and 2005-10-31
processing data between 1993-06-09 and 2005-11-01
processing data between 1993-06-10 and 2005-11-02
processing data between 1993-06-11 and 2005-11-03
processing data between 1993-06-14 and 2005-11-04
processing data between 1993-06-15 and 2005-11-07
processing data between 1993-06-16 and 2005-11-08
processing data between 1993-06-17 and 2005-11-09
processing data between 1993-06-18 and 2005-11-10
processing data between 1993-06-21 and 2005-11-11
processing data between 1993-06-22 and 2005-11-14
processing data between 1993-06-23 and 2005-11-15
processing data between 1993-06-24 and 2005-11-16
processing data between 1993-06-25 and 2005-11-17
processing data between 1993-06-28 and 2005-11-18
processing data between 1993-06-29 and 2005-11-21
processing data between 1993-06-30 and 2005-11-22
processing data between 1993-07-01 and 2005-11-23
processing data between 1993-07-02 and 2005-11-25
processing data between 1993-07-06 and 2005-11-28
processing data between 1993-07-07 and 2005-11-29
processing data between 1993-07-08 and 2005-11-30
processing data between 1993-07-09 and 2005-12-01
processing data between 1993-07-12 and 2005-12-02
processing data between 1993-07-13 and 2005-12-05
processing data between 1993-07-14 and 2005-12-06
processing data between 1993-07-15 and 2005-12-07
processing data between 1993-07-16 and 2005-12-08
processing data between 1993-07-19 and 2005-12-09
processing data between 1993-07-20 and 2005-12-12
processing data between 1993-07-21 and 2005-12-13
processing data between 1993-07-22 and 2005-12-14
processing data between 1993-07-23 and 2005-12-15
processing data between 1993-07-26 and 2005-12-16
processing data between 1993-07-27 and 2005-12-19
processing data between 1993-07-28 and 2005-12-20
processing data between 1993-07-29 and 2005-12-21
processing data between 1993-07-30 and 2005-12-22
processing data between 1993-08-02 and 2005-12-23
processing data between 1993-08-03 and 2005-12-27
processing data between 1993-08-04 and 2005-12-28
processing data between 1993-08-05 and 2005-12-29
processing data between 1993-08-06 and 2005-12-30
processing data between 1993-08-09 and 2006-01-03
processing data between 1993-08-10 and 2006-01-04
processing data between 1993-08-11 and 2006-01-05
processing data between 1993-08-12 and 2006-01-06
processing data between 1993-08-13 and 2006-01-09
processing data between 1993-08-16 and 2006-01-10
processing data between 1993-08-17 and 2006-01-11
processing data between 1993-08-18 and 2006-01-12
processing data between 1993-08-19 and 2006-01-13
processing data between 1993-08-20 and 2006-01-17
processing data between 1993-08-23 and 2006-01-18
processing data between 1993-08-24 and 2006-01-19
processing data between 1993-08-25 and 2006-01-20
processing data between 1993-08-26 and 2006-01-23
processing data between 1993-08-27 and 2006-01-24
processing data between 1993-08-30 and 2006-01-25
processing data between 1993-08-31 and 2006-01-26
processing data between 1993-09-01 and 2006-01-27
processing data between 1993-09-02 and 2006-01-30
processing data between 1993-09-03 and 2006-01-31
processing data between 1993-09-07 and 2006-02-01
processing data between 1993-09-08 and 2006-02-02
processing data between 1993-09-09 and 2006-02-03
processing data between 1993-09-10 and 2006-02-06
processing data between 1993-09-13 and 2006-02-07
processing data between 1993-09-14 and 2006-02-08
processing data between 1993-09-15 and 2006-02-09
processing data between 1993-09-16 and 2006-02-10
processing data between 1993-09-17 and 2006-02-13
processing data between 1993-09-20 and 2006-02-14
processing data between 1993-09-21 and 2006-02-15
processing data between 1993-09-22 and 2006-02-16
processing data between 1993-09-23 and 2006-02-17

processing data between 1993-09-24 and 2006-02-21
processing data between 1993-09-27 and 2006-02-22
processing data between 1993-09-28 and 2006-02-23
processing data between 1993-09-29 and 2006-02-24
processing data between 1993-09-30 and 2006-02-27
processing data between 1993-10-01 and 2006-02-28
processing data between 1993-10-04 and 2006-03-01
processing data between 1993-10-05 and 2006-03-02
processing data between 1993-10-06 and 2006-03-03
processing data between 1993-10-07 and 2006-03-06
processing data between 1993-10-08 and 2006-03-07
processing data between 1993-10-11 and 2006-03-08
processing data between 1993-10-12 and 2006-03-09
processing data between 1993-10-13 and 2006-03-10
processing data between 1993-10-14 and 2006-03-13
processing data between 1993-10-15 and 2006-03-14
processing data between 1993-10-18 and 2006-03-15
processing data between 1993-10-19 and 2006-03-16
processing data between 1993-10-20 and 2006-03-17
processing data between 1993-10-21 and 2006-03-20
processing data between 1993-10-22 and 2006-03-21
processing data between 1993-10-25 and 2006-03-22
processing data between 1993-10-26 and 2006-03-23
processing data between 1993-10-27 and 2006-03-24
processing data between 1993-10-28 and 2006-03-27
processing data between 1993-10-29 and 2006-03-28
processing data between 1993-11-01 and 2006-03-29
processing data between 1993-11-02 and 2006-03-30
processing data between 1993-11-03 and 2006-03-31
processing data between 1993-11-04 and 2006-04-03
processing data between 1993-11-05 and 2006-04-04
processing data between 1993-11-08 and 2006-04-05
processing data between 1993-11-09 and 2006-04-06
processing data between 1993-11-10 and 2006-04-07
processing data between 1993-11-11 and 2006-04-10
processing data between 1993-11-12 and 2006-04-11
processing data between 1993-11-15 and 2006-04-12
processing data between 1993-11-16 and 2006-04-13
processing data between 1993-11-17 and 2006-04-17
processing data between 1993-11-18 and 2006-04-18
processing data between 1993-11-19 and 2006-04-19
processing data between 1993-11-22 and 2006-04-20
processing data between 1993-11-23 and 2006-04-21
processing data between 1993-11-24 and 2006-04-24
processing data between 1993-11-26 and 2006-04-25
processing data between 1993-11-29 and 2006-04-26
processing data between 1993-11-30 and 2006-04-27
processing data between 1993-12-01 and 2006-04-28
processing data between 1993-12-02 and 2006-05-01
processing data between 1993-12-03 and 2006-05-02
processing data between 1993-12-06 and 2006-05-03
processing data between 1993-12-07 and 2006-05-04
processing data between 1993-12-08 and 2006-05-05
processing data between 1993-12-09 and 2006-05-08
processing data between 1993-12-10 and 2006-05-09
processing data between 1993-12-13 and 2006-05-10
processing data between 1993-12-14 and 2006-05-11
processing data between 1993-12-15 and 2006-05-12
processing data between 1993-12-16 and 2006-05-15
processing data between 1993-12-17 and 2006-05-16
processing data between 1993-12-20 and 2006-05-17
processing data between 1993-12-21 and 2006-05-18
processing data between 1993-12-22 and 2006-05-19
processing data between 1993-12-23 and 2006-05-22
processing data between 1993-12-27 and 2006-05-23
processing data between 1993-12-28 and 2006-05-24
processing data between 1993-12-29 and 2006-05-25
processing data between 1993-12-30 and 2006-05-26
processing data between 1993-12-31 and 2006-05-30
processing data between 1994-01-03 and 2006-05-31
processing data between 1994-01-04 and 2006-06-01
processing data between 1994-01-05 and 2006-06-02
processing data between 1994-01-06 and 2006-06-05
processing data between 1994-01-07 and 2006-06-06
processing data between 1994-01-10 and 2006-06-07
processing data between 1994-01-11 and 2006-06-08
processing data between 1994-01-12 and 2006-06-09
processing data between 1994-01-13 and 2006-06-12
processing data between 1994-01-14 and 2006-06-13
processing data between 1994-01-17 and 2006-06-14
processing data between 1994-01-18 and 2006-06-15
processing data between 1994-01-19 and 2006-06-16
processing data between 1994-01-20 and 2006-06-19
processing data between 1994-01-21 and 2006-06-20
processing data between 1994-01-24 and 2006-06-21
processing data between 1994-01-25 and 2006-06-22
processing data between 1994-01-26 and 2006-06-23
processing data between 1994-01-27 and 2006-06-26
processing data between 1994-01-28 and 2006-06-27
processing data between 1994-01-31 and 2006-06-28
processing data between 1994-02-01 and 2006-06-29
processing data between 1994-02-02 and 2006-06-30
processing data between 1994-02-03 and 2006-07-03
processing data between 1994-02-04 and 2006-07-05

def calculate_return(
    invest_date_first,
    invest_date_last,
    ):

pysqldf(u"""
    select *  
    from invest
    where Date in ('2001-04-24', '2009-12-15')
    """)

return_df.plot(
    x ='Date', 
    y=[
        'accumulated_return', 
        'accumulated_return_3x', 
    ], grid = True)

return_df.plot(
    x ='Date', 
    y=[
        'price', 
        'price_3x', 
    ], grid = True)

END